<a href="/recipe/{{id}}">
<div class="recipe-card-header">
    {{Recipe.title}}
  </div>
  <div class="card-body">
<img src="{{Recipe.image}}" alt="{{Recipe.author}}">
        <h2>Instructions</h2>
        <p>{{Recipe.instructions}}</p>

        <h2>Ingredients</h2>
        <p>{{Recipe.ingredients}}</p>
    </div>
</a>