<section class="cards">
<div class="recipe-card" href="/recipe/{{id}}">
<figure>
<img src="{{image}}" alt="{{title}}">
</figure>
  <div class="card-body">
    <h2>{{title}}</h2>
    <h4>Posted by {{author}}</h4>
       <p>{{ingredients}}</p>

       </div>

    <p class="instructions-tooltip">Instruction</p>
    <span class="instructions-tooltip-text">{{instructions}}</span>

    <p class="comments-tooltip">Comments</p>
    <span class="comments-tooltip-text">{{comments}}</span>
    
    
</div>
</section>