<div class="recipe-card">
<div class="recipe-card-header">
    {{Recipe.title}}
  </div>
  <div class="card-body">
<img src="{{recipe.image}}" alt="{{recipe.author}}">

        <p>By {{recipe.user_id}}</p>

        <h2>Instructions</h2>
        <p>{{recipe.instructions}}</p>

        <h2>Ingredients</h2>
        <p>{{recipe.ingredients}}</p>

        <h2>Comments</h2>
        <p>{{recipe.user_id}}: {{recipe.comments}}</p>
    </div>
    <p>By {{recipe.user_id}}</p>
    <a href="/recipe/{{recipe.id}}">View Recipe</a>
    </div>
</div>
