<a href="/recipe/{{id}}">
<div class="recipe-card">
<div class="recipe-card-header">
    {{title}}
  </div>
  <div class="card-body">
<img src="{{image}}" alt="{{author}}">

        <p>By {{user_id}}</p>

        <h2>Instructions</h2>
        <p>{{instructions}}</p>

        <h2>Ingredients</h2>
        <p>{{ingredients}}</p>

        <h2>Comments</h2>
        <p>{{user_id}}: {{comments}}</p>
    </div>
    <p>By {{user_id}}</p>
    </div>
</div>
</a>