{{> navbar}}
<div class="edit-recipe-container">
  <h2>
    Add Recipe
  </h2>
  <form class="add-recipe-form">
     <label for="author">
      Author:
    </label>
    <br />
    <textarea id="author" name="author" rows="2" cols="30">
      {{author}}
    </textarea>
    <br />
    <label for="title">
      Recipe Name:
    </label>
    <br />
    <textarea id="title" name="title" rows="2" cols="30">
      {{title}}
    </textarea>
    <br />
    <label for="instructions">
      Instructions:
    </label>
     <br />
    <textarea id="instructions" name="instructions" rows="2" cols="30">
      {{instructions}}
    </textarea>
    <br />
     <label for="title">
      Ingridents:
    </label>
    <br />
    <textarea id="ingridents" name="ingridents" rows="2" cols="30">
      {{ingridents}}
    </textarea>
    <br />
     <label for="image">
      Image:
    </label>
     <br />
    <textarea id="image" name="image" rows="2" cols="30">
      {{image}}
    </textarea>
  <button type="submit" value="Submit">
        Submit
      </button>
    </form>
<script src="../public/js/add-recipe.js"></script>
