<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Recipe Details</title>
</head>
<body>
    {{> navbar}}

    <div class="container">
        <h1>{{title}}</h1>
        <img src="{{image}}" alt="{{title}}">
        
        <p>By {{author}}</p>

        <h2>Ingredients</h2>

        <h2>Instructions</h2>

        <h2>Comments</h2>

    </div>
</body>
</html>
